body{
    background: green;
}
.top-bar{
    background: #027148;
}
.top-bar__breadcrumbs{
    color: green;
}
.filters-group__panel{
    background-color: green;
    color: green;
}
.filter{
    background-color: #027148;
    color: green;
}
.filter__item{
    background-color: #027148;
    color: green;
}
.applications-list__entry{
    background: #027148;
    color: green;
}
